* {
  /*  This is not a permanent fix, I just don't want this to be
      ugly right now, but this is NOT RESPONSIVE DON'T DO This
  */
  margin-top: 2%;
  margin-bottom: 5%;
  font-family: 'Roboto Mono', monospace;
  font-family: 'PT Mono', monospace;
}

/* @-webkit-keyframes snowflakes {
  0% {top:10%}
  50% {top: 45%}
  100% {top:100%}
}

@keyframes snowflakes {
  0% {top:10%;}
  50% {top: 45%;}
  100% {top:100%;}
} */

/* .snow {
  color: white;
  font-size: 3em;

  animation: snowflakes 10s linear infinite;
  -webkit-animation: snowflakes 10s linear infinite;
} */

/* Try to make some kind of Christmas/New Year's Theme */
body {
  /* color: green; */
  /* background: #90d3f9 !important; */

  background: #D3959B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #BFE6BA, #D3959B);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #BFE6BA, #D3959B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

/* .email-me a:active {
  text-decoration: none;
}

.email-me a:visited {
  text-decoration: none;
} */

.email-me a:link {
  text-decoration: none;
  color: #8600FD;
}

.junhson {
  text-decoration: bold;
}

.highlight {
  color: #8600FD;
}

/* .email-me a:hover {
  text-decoration: none;
} */

.bing {
  color: #407060;
}

.email-me a {
  color: #8600FD;
}

.email-me a:hover {
  text-decoration: none;
  color: #8600FD;
}

 /* a:active, a:visited, a:link {
   text-decoration: none;
 } */

::selection {
  /* Make the color of the highlight orange */
  background: #ff9900;
}
